# Core Framework & Server
fastapi[standard]
uvicorn[standard]==0.24.0
pydantic

# Task Queue (Celery & Redis)
celery
redis

# Data Science / ML
pandas
numpy<2
scikit-learn
xgboost
matplotlib
seaborn
joblib

# Deep Learning Stack
torch==2.1.0
librosa
soundfile

# Audio & Speech Analysis
silero-vad
faster_whisper

# LangChain & LLM Tools
langchain==0.1.16
langchain-core==0.1.44
langchain-groq==0.1.2
sentence-transformers

# Backend Integration
supabase
uvicorn[standard]==0.24.0

redis==5.0.1
upstash-redis
requests
python-dotenv
psycopg2-binary
requests